{
  "singleQuote": true,
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "all",
  "bracketSpacing": false,
  "printWidth": 80,
  "endOfLine": "lf"
}
